  <!-- Codigo P1 [Pagina Inicio] -->

  <!-- Codigo P1 [Toolbar_Pagina Inicio] -->

  <div class="toolbar" >

    <img
      width="80"
      alt="Logo Lima"
      src="https://st.depositphotos.com/1770836/1686/i/600/depositphotos_16860383-stock-photo-flag-of-peru.jpg"
    />

    <div routerLink="/" class="text_container">
      <span> TURISMO EN LIMA </span>
    </div>

    <div class="spacer"></div>

    <img 
      width="80" 
      alt="Logo Lima"
      src="https://st.depositphotos.com/1770836/1686/i/600/depositphotos_16860383-stock-photo-flag-of-peru.jpg"
    />  

  </div>

  <router-outlet></router-outlet>
 



