  <!-- Codigo P1 [Pagina Inicio] -->

  <!-- Codigo P1 [Toolbar_Pagina Inicio] -->

  <div class="toolbar" >

    <img
      width="80"
      alt="Logo Lima"
      src="https://st.depositphotos.com/1770836/1686/i/600/depositphotos_16860383-stock-photo-flag-of-peru.jpg"
    />

    <span> TURISMO EN LIMA </span>
      <div class="spacer"></div>
      <img width="80" alt="Logo Lima"
          src="https://st.depositphotos.com/1770836/1686/i/600/depositphotos_16860383-stock-photo-flag-of-peru.jpg"
        />    
  </div>

 



