<br>
<br>
<br>
<br>
<br>
<br>


<!-- Codigo P1 [Texto_Pagina Inicio] -->

<h1 class="P1_exclamation">
  Bienvenido a Turismo en Lima !!!
</h1>

<br>
<br>

<p class="P1_paragraph">
  Esta es una página web peruana que tiene como objetivo incentivar el turismo en el Perú y, en este caso, queremos mostrales algunos de los lugares más atractivos de nuestra capital (Lima). Para que puedas conocer algunos de estos lugares, presiona el botón que dice "Empezar".   
</p>

<br>
<br>

<div class = "container">
  <button routerLink="/P2" id = "btn">
    Empezar
  </button>
</div>

<br>
<br>